// BASIC COLORS
$base_black: #000000;
$base_white: #FFFFFF;

// FONTS CONFIG
$base_font: 'Inter', sans-serif; // fonts
$base_font-color: black; // Typography Colors

// BACKGROUND COLORS
$bg-color: white; 
